body {
  background: #fbfbfb;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #006c9d;
  box-shadow: 0 0 5px rgba(0,0,0,0.24);
  z-index: 999;
  width: 100%;
  color: white;
  text-align: left;
  padding: 1em;
  font-weight: bold;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.Form_container{
  width: 25%;
  display: flex;
  background: #fbfbfb;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 2em 1em;
  box-sizing: border-box;
}
.Form_form {
  text-align: left;
  width: 100%;
  background: #f2f2f2;
  padding: 1em 1em;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.38);
}
.Form_label {
  width: 100%;
  text-align: left;
  font-weight: 500;
  margin: 0.5em 0;
  display: block;
}
.Form_label input[type="number"],.Form_label input[type="text"]{
  border-bottom: 2px solid #006c9d;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  padding: 0.4em .4em;
}
.Form_radio_container {
  width: 100%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}
input[type="submit"] {
  background: #006c9d;
  border: 0;
  padding: 0.6em 1.6em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1em;
  border-radius: 2px;
}

.List_container {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  justify-content: space-between;
  background: #fbfbfb;
  margin: 2em 0;
  box-shadow: 0 0 3px #00000014;
}
.List_head {
  font-weight: bold;
  border: 0!important;
  background: #006c9d;
  color: #fff;
  border-right: 1px solid #006c9d!important;
}
.List_head span {
  padding: 1em!important
}
.List_row, .List_head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 0.5px solid #a9a9a9;
  border-top: 0;
}
.List_row span, .List_head span {
  width: 25%;
  padding: 0.5em;
  text-align: left;
  box-sizing: border-box;
}
sup { 
  font-size: 6px;
  text-transform: uppercase;
  font-weight: bold;
}
.frame {
  max-width: 100%;
  width: 75%;
}
.Graph_container {
  width: 75%;
  height: 60vh;
  display: block
}
.Graph_svg {
  background-color: #fff;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: block;
}
text {
  transform: rotateZ(180deg) rotateY(180deg)
}

svg.chart {
  max-width: 100%;
  width: 100%;
  padding: 0.5em 0 0 0;
  border: 1px solid #dcdcdc;
  border-radius: 6px 6px 0 0;
  box-shadow: 2px -1px 1px #e6e6e6;
  background: #fff;
  box-sizing: border-box;
  border-bottom: 0;
  border-right: 0
}

.Form_radio_container {
  width: 100%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.assign {
  width: 100%;
  padding: 1em 0;
  background: #f3f3f3;
  box-shadow: 0 0 1px rgba(0,0,0,0.24)
}
.assign a {
  color: #2196F3;
  font-weight: bold;
  text-decoration: none;
}
.assign a:hover{
  text-decoration: underline;
}

@media all and (max-width: 1200px) {
  .frame {width: 100%!important; padding: 0 0.5em;}
  .App { justify-content: flex-start }
  .Form_container { justify-content: center!important; }
  .Form_container { width: 100%!important }
  .List_container {width: 95%!important; margin: 2em auto!important; display: block!important }
  .chart { border-radius: 6px!important; border-bottom:1px solid #dcdcdc!important ;border-right:1px solid #dcdcdc!important  }
}

@media all and (max-width: 500px){
  .List_row span, .List_head span { width: 50%!important }
}